Automat
Bottleneck
Flask
Flask-SQLAlchemy
FuzzyTM
HeapDict
Jinja2
Kivy
Kivy-Garden
Markdown
MarkupSafe
Protego
PyDispatcher
PyJWT
PyNaCl
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQtWebEngine
PyQtWebEngine-Qt5
PySocks
PyWavelets
PyYAML
Pygments
QDarkStyle
QtAwesome
QtPy
Rtree
SQLAlchemy
Scrapy
Send2Trash
Sphinx
Twisted
Unidecode
Werkzeug
absl-py
aiofiles
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
annotated-types
anyio
appdirs
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse
atomicwrites
attrs
autopep8
babel
backcall
backports.functools-lru-cache
backports.tarfile
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blosc2
bokeh
boltons
brotlipy
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent
cmake
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
datasets
datashader
datashape
debugpy
decorator
defusedxml
diff-match-patch
distributed
dlib
docstring-to-markdown
docutils
dotenv
entrypoints
et_xmlfile
exceptiongroup
executing
exercise
face-recognition
face-recognition-models
fastjsonschema
filelock
filetype
flake8
flatbuffers
fonttools
fqdn
frozenlist
fst-pso
future
gast
gensim
glob2
gmpy2
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
holoviews
httpcore
httpx
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib_metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-server-ydoc
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
kaleido
keras
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libclang
linkify-it-py
livereload
llvmlite
lmdb
locket
lxml
lz4
markdown-it-py
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
miniful
mistune
ml_dtypes
mnist
more-itertools
mpmath
msgpack
munkres
mypy-extensions
namex
narwhals
nbclassic
nbclient
nbconvert
nbformat
ndindex
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
opencv-python
openpyxl
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy
pep8
pexpect
pickleshare
pillow
pip
pkce
platformdirs
plotly
pluggy
ply
poyo
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pure_eval
py-cpuinfo
pyFUME
pyOpenSSL
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycosat
pycparser
pycrdt
pycrdt-websocket
pyct
pycurl
pydantic
pydantic-settings
pydantic_core
pydocstyle
pyerfa
pyflakes
pylint
pylint-venv
pyls-spyder
pyodbc
pyparsing
pypiwin32
pyrsistent
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-slugify
python-snappy
pytoolconfig
pytz
pyvis
pyviz_comms
pyzmq
qstylizer
qtconsole
queuelib
readchar
referencing
regex
requests
requests-file
requests-toolbelt
responses
rfc3339-validator
rich
roman-numerals-py
rope
rpds-py
s3fs
safetensors
scikit-image
scikit-learn
scipy
seaborn
semver
service-identity
shellingham
simpful
sip
six
sklearn-compat
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
sqlite-anyio
stack-data
statsmodels
sympy
tables
tabulate
tail-recursive
tblib
tenacity
termcolor
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
transformers
twisted-iocpsupport
typer
types-python-dateutil
typing_extensions
tzdata
uc-micro-py
ujson
uri-template
urllib3
w3lib
watchdog
wcwidth
webcolors
webencodings
websocket-client
whatthepatch
widgetsnbextension
wikipedia
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard