/*
styles.css - styling for the CP3407 MyClean app.
Team members: Casey, Daniel, Damon, Harrison
*/

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* creates a background image with a blue-tinted overlay */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
                url('../static/images/Cleaning_Background.png') no-repeat center center;
    background-size: 105em;
}

img {
    width: 300px;
    border-radius: 15px;
}

.container {
    width: 300px;
    padding: 1em;
    background: aliceblue;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0px;
}


input, button {
    width: 95%;
    margin-bottom: 20px;
    padding: 8px;
}

button {
    background-color: #28a745; /* Light green */
    width: 85%;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Darker green */
}
