<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>MyClean - Cleaners</title>
</head>

<body class="cleaner-page">

<!-- Header with navigation -->
{% include "header.html" %}

<!-- Main content section -->
<main>
    <h1>Available Cleaners</h1>
    <div class="available-cleaners">
        {% if cleaners %}
        {% for cleaner in cleaners %}
        <div class="cleaner-widget">
            <h2><a href="/cleaner/{{ cleaner.cleaner_id }}">{{ cleaner.full_name }}</a></h2>
            <p><b>{{ cleaner.location or "Unknown Location" }} | ⭐ {{ cleaner.rating or "N/A" }}</b></p>
            <p> 📞 {{ cleaner.phone_number or "Not Available" }} </p>
            <p> 📧 {{ cleaner.email or "Not Available" }} </p>
            <p>Experience: {{ cleaner.experience_years if cleaner.experience_years is not none else "No experience
                listed" }} years</p>

            {% if session['customer_id'] %}
                <button class="bookbtn" onclick="window.location.href='/book/{{ cleaner.cleaner_id }}'">Book now!</button>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
            <p>No cleaners available.</p>
        {% endif %}
    </div>
</main>

<!-- Footer -->
{% include "footer.html" %}
</body>
</html>
