<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Login</title>
</head>
<body class="auth-page">

<!-- Wrap the form in a container div -->
<div class="container">

    <!--<h1>Welcome to MyClean!</h1>-->
    <img src="{{ url_for('static', filename='images/MyClean_logo.png') }}" alt="MyClean Logo">

    <h2>Login</h2>
    <form method="POST">
        <label>
            Username:
            <input type="text" name="username" required>
        </label>
        <label>
            Password:
            <input type="password" name="password" required>
        </label>
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/">Sign up here</a></p>
</div>

</body>
</html>
