<div class="dropdown">
        <button class="dropbtn">
            ▼ {{ session['username'] if 'username' in session else 'Guest' }}
        </button>
        <img class="profile-image" src="{{ url_for('static', filename='images/temp_profile_icon.png') }}"
             alt="Profile Icon">
        <div class="dropdown-content">
            {% if 'username' in session %}
                {% if session['cleaner_id'] %}
                    <a href="/cleaner/{{ session['cleaner_id'] }}">Profile</a>
                    <a href="/cleaner/{{ session['cleaner_id'] }}/edit">Edit Info</a>
                {% endif %}
                {% if session['customer_id'] %}
                    <a href="/customer/edit">Edit Info</a>
                    <a href="/custom_checklist">Manage Custom Checklist</a>
                {% endif %}
                <a href="/manage_bookings">Bookings</a>
                <a href="/aboutus">About Us</a>
                <a href="/logout">Log Out</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/">Sign Up</a>
            {% endif %}
        </div>
    </div>