<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Signup</title>
</head>
<body class="auth-page">

<div class="container">
    <img src="{{ url_for('static', filename='images/MyClean_logo.png') }}" alt="MyClean Logo">
    <h2>Signup</h2>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('signup') }}">

        <div>
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>

        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>

        <div>
            <label>Sign up as:</label>
            <select id="userType" name="user_type">
                <option value="customer">Customer</option>
                <option value="cleaner">Cleaner</option>
            </select>
        </div>

        <hr class="form-divider">

        <div>
            <label>Full Name:
                <input type="text" name="full_name" required>
            </label>
        </div>

        <div>
            <label>Email:
                <input type="email" name="email" required>
            </label>
        </div>

        <div>
            <label>Phone Number:
                <input type="text" name="phone_number" required>
            </label>
        </div>

        <hr class="form-divider">

        <div>
            <label for="location">Location:</label>
            <div class="location-btn">
                <select name="location" id="location" required>
                    <option value="Townsville">Townsville</option>
                    <option value="Cairns">Cairns</option>
                    <option value="Brisbane">Brisbane</option>
                </select>
            </div>
        </div>


        <!-- Cleaner-only field -->
        <div id="experienceField" style="display: none;">
            <label>Years of Experience:
                <input type="number" name="experience_years" min="0">
            </label>
        </div>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login">Login here</a></p>
</div>

</body>
</html>
